.container_card_info{
  max-width: 300px;
  /* min-height: 450px; */
  transition: all .2s linear;
}

.container_card_info:hover{
  transform: scale(1.05);
  box-shadow: 1px 1px 4px black;
}

.container_icono_card{
  width: 4rem;
  height: 4rem;
  background-color: #ccc;
  border-radius: 50%;
}

.icono_card{
  width: 3rem;
  height: 3rem;
  border-radius:20px;
}