
.container_error {
  min-height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.title-error {
  font-size: 4rem;
}

.p-error {
  font-size: 2rem;
  margin-bottom: .5em;
}

.link-error {
  color: inherit;
  font-style: italic;
}

.link-error:visited,
.link-error:active {
  color: inherit;
}